.profile {
    padding: 20px;
    margin: 20px;
    
    display: flex;

    .profile__card {
        display: flex;
        background-color: whitesmoke;
        padding: 20px;
        border-radius: 20px;
        flex-shrink: 1;

        .profile__details {
            
            display: flex;
            flex-direction: column;


            h1 {
                padding-top: 13px;
                color: gray;
                font-size: 35px;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                padding-bottom: 10px;
            }

            h2 {
                color: gray;
                font-size: 35px;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            }
        }
    }


}